/*
colors used:
primary color (russian violet): rgba(8,7,63,1) #08073F;
  tone (shadow): rgba(70,69,107,1) #46456B
secondary color (mandarine): rgba(239,131,84,1) #EF8354;
  tone (dark mandarine): rgba(205,131,84,1) #CD8354
text color (grey for white): rgba(90,90,90,1) #5A5A5A;
text color (grey for blue): rgba(187,187,187,1) #BBBBBB;
*/


* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: 1.5px;
  color: #5A5A5A;
}
#home-page {
  background-color: #08073F;
  color: #BBBBBB;
}


h1, h2, h3, h4 {
  line-height: 135%;
  color: #08073F;
}

#home-page h1, #home-page h2, #home-page h3, #home-page h4{
  color: #ffffff;
}
#home-page h1 {
  font-family: 'Knewave', cursive;
  font-size: 2.22em;
}
#home-page h2 {
  font-family: 'Knewave', cursive;
  font-size: 1.44em;
}
#home-page h3 {
  font-size: 1.44em;
  font-weight: 700;
}
#home-page h4 {
  font-size: 1.22em;
  font-weight: 700;
}

#project-page h1 {
  font-size: 1.44em;
  font-weight: 700;
}
#project-page h2 {
  font-family: 'Knewave', cursive;
  font-size: 1.33em;
}
#project-page h3 {
  font-size: 1.15em;
  font-weight: 700;
}

#about-page h1, #about-page h2 {
  font-family: 'Knewave', cursive;
  font-size: 1.44em;
}
#about-page h3 {
  font-size: 1.22em;
  font-weight: 700;
}


nav {
  font-size: 0.90em;
}


p.vertical {
  font-size: 0.50em;
  font-weight: 300;
  writing-mode: vertical-rl;
}
p.pre-title {
  font-size: 0.75em;
  font-weight: 300;
}



/* images */
img{
  width: 100%;
}



/* links */
a {
  color: #08073F;
  text-decoration: none;
}
a:visited {
  color: #08073F;
}
a:hover,
a:focus {
  color: #EF8354;
  text-decoration: none;
}
a:active {
  color: #08073F;
}

#home-page header a {
  color: #ffffff;
}



/* buttons */
.button {
  display: inline-block;
  background-color: transparent;
  color: #EF8354;
  font-size: 1.22em;
  font-weight: 400;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #EF8354;
  transition: 0.4s opacity;
  box-shadow: 0 3px 3px 0 rgba(239,131,84,0.5);
}
.button:visited {
  color: #EF8354;
}
.button:hover {
  background-color: #EF8354;
  color: #08073F;
  font-weight: 700;
}
.button:active {
  color: #EF8354;
}


.button.email {
  background-color: #EF8354;
  color: #08073F;
}
.button.email:visited {
  background-color: #EF8354;
  color: #08073F;
}
.button.email:hover {
  background-color: transparent;
  color: #EF8354;
}
.button.email:active {
  background-color: #EF8354;
}


.button.resume {
  background-color: #EF8354;
  color: #08073F;
  border-color: #08073F;
  box-shadow: 0 5px 5px 0 rgba(70,69,107,0.8);
}
.button.resume:visited {
  background-color: #EF8354;
  color: #08073F;
  border-color: #08073F;
  box-shadow: 0 5px 5px 0 rgba(70,69,107,0.8);
}
.button.resume:hover {
  cursor: pointer;
  font-weight: 400;
}
.button.resume:active {
  box-shadow: 0 1px 1px 0 rgba(2,2,22,1);
  transform: translateY(4px);
}


.fa-chevron-circle-down {
  color: #ffffff;
}


span.number {
  font-family: 'Knewave', cursive;
  font-size: 2.80em;
  color: #ffffff;
  text-shadow: -4px -4px 0 rgba(239,131,84,0.6), 4px -4px 0 rgba(239,131,84,0.6), -4px 4px 0 rgba(239,131,84,0.6), 4px 4px 0 rgba(239,131,84,0.6);
}
span.bold {
  color: #ffffff;
  font-weight: 700;
}
span.default {
  color: #EF8354;
}
span.hover {
  color: #ffffff;
  display: none;
}


.desktop-menu {
  display: none;
}





/* layout styling */
/* header styling */
header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 4px 4px 1px rgba(8,7,63,0.3);
  position: fixed;
  width: 100%;
}
#home-page header {
  background-image: url(patagonia.jpg);
  height: 568px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
}


.container {
  padding: 0 30px;
}

.logo {
  max-width: 50px;
  margin-top: 15px;
}


nav {
  display: inline-block;
  width: 100%;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
}



/* main styling */
main {
  padding-top: 172.45px;
}



/* intro styling */
#intro {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}



/* work styling */
.row-projects {
  margin: 40px 0;
}
.row-line {
  padding-bottom: 40px;
  border-bottom: 2px solid rgba(187,187,187,0.5);
}



/* footer styling */
