/*
colors used:
primary color (russian violet): rgba(8,7,63,1) #08073F;
  tone (shadow): rgba(70,69,107,1) #46456B
secondary color (mandarine): rgba(239,131,84,1) #EF8354;
  tone (dark mandarine): rgba(205,131,84,1) #CD8354
text color (grey for white): rgba(90,90,90,1) #5A5A5A;
text color (grey for blue): rgba(187,187,187,1) #BBBBBB;
*/


* {
  box-sizing: border-box;
}



/* ==============================
font styling
================================= */
body {
  background-color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 135%;
  letter-spacing: 1.5px;
  color: #5A5A5A;
}
#home-page {
  background-color: #08073F;
  color: #BBBBBB;
}


h1, h2, h3, h4 {
  line-height: 135%;
  color: #08073F;
}

#home-page h1, #home-page h2, #home-page h3, #home-page h4{
  color: #ffffff;
}
#home-page h1 {
  font-family: 'Knewave', cursive;
  font-size: 1.83em;
  margin-bottom: 70px;
}
#home-page h2 {
  font-family: 'Knewave', cursive;
  font-size: 1.44em;
  margin: 0 0 50px 0;
}
#home-page h3 {
  font-size: 1.44em;
  font-weight: 700;
  margin: 10px 0;
}
#home-page h4 {
  font-size: 1.22em;
  font-weight: 700;
}

#project-page h1 {
  font-size: 1.44em;
  font-weight: 700;
}
#project-page h2 {
  font-family: 'Knewave', cursive;
  font-size: 1.33em;
  padding: 140px 0 30px 0;
  margin: 0;
}
#project-page h3 {
  font-size: 1.15em;
  font-weight: 700;
  margin: 25px 0 10px 0;
}
#project-page p {
  margin: 10px 0 ;
}

#about-page h1 {
  padding: 0 0 20px 0;
}
#about-page h1, #about-page h2 {
  font-family: 'Knewave', cursive;
  font-size: 1.44em;
  margin: 0;
}
#about-page h3 {
  font-size: 1.22em;
  font-weight: 700;
  margin: 25px 0 0 0;
}
#about-page h4 {
  font-size: 1.22em;
  font-weight: 700;
  margin: 25px 0 0 0;
  color: #ffffff;
}
#about-page p {
  margin: 10px 0 0 0;
}



/* ==============================
images styling
================================= */
img{
  width: 100%;
  /*max-width: 483px;*/
}

.tools {
  max-width: 315px;
}

.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  max-width: 315px;
  padding: 20px 0 20px 0;
}

.img-pad {
  margin-top: 20px;
}

.home-img {
  max-width: 483px;
}

.img-no {
  display: none;
}
.img-no2 {
  display: none;
}



/* ==============================
links styling
================================= */
a {
  color: #08073F;
  text-decoration: none;
}
a:visited {
  color: #08073F;
}
a:hover,
a:focus {
  color: #EF8354;
  text-decoration: none;
}
a:active {
  color: #08073F;
}

header a {
  font-weight: 300;
}



/* ==============================
buttons styling
================================= */
/*.button {
  display: inline-block;
  background-color: transparent;
  color: #EF8354;
  font-size: 1.10em;
  font-weight: 400;
  line-height: 1;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #EF8354;
  transition: 0.4s opacity;
  box-shadow: 0 3px 3px 0 rgba(239,131,84,0.5);
  text-align: center;
  width: 140px;
  height: 42px;
}
.button:visited {
  color: #EF8354;
}
.button:hover {
  background-color: #EF8354;
  color: #08073F;
  font-weight: 700;
}
.button:active {
  color: #EF8354;
}*/

.button {
  border: none;
  background-color: transparent;
  color: #EF8354 !important;
  font-size: 1.10em
  font-weight: 400;
  line-height: 1;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #EF8354;
  display: inline-block;
  transition: all 0.3s ease 0s;
  text-align: center;
  width: 140px
  height: 42px;
}
.button:visited {
  color: #EF8354;
}
.button:hover {
  color: #08073F !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background-color: #EF8354;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(205,131,84,0.8);
  -moz-box-shadow: 0px 5px 40px -10px rgba(205,131,84,0.8);
  transition: all 0.3s ease 0s;
}
.button:active {
  color: #EF8354;
}


.button.email {
  background-color: #EF8354;
  color: #08073F !important;
}
.button.email:visited {
  background-color: #EF8354;
  color: #08073F;
}
.button.email:hover {
  background-color: transparent;
  color: #EF8354 !important;
}
.button.email:active {
  background-color: #EF8354;
}


.button.resume {
  background-color: #EF8354;
  display: inline;
  color: #08073F !important;
  border-color: #08073F;
  box-shadow: 0 5px 5px 0 rgba(70,69,107,0.8);
  font-size: 19.8px;
  font-weight: 400;
  margin-left: 15px;
}
.button.resume:visited {
  background-color: #EF8354;
  color: #08073F;
  border-color: #08073F;
  box-shadow: 0 5px 5px 0 rgba(70,69,107,0.8);
}
.button.resume:hover {
  cursor: pointer;
  font-weight: 400;
}
.button.resume:active {
  box-shadow: 0 1px 1px 0 rgba(2,2,22,1);
  transform: translateY(4px);
}



/* ==============================
span styling
================================= */
span.bold-white {
  color: #ffffff;
  font-weight: 400;
}
span.bold-blue {
  font-weight: 700;
  color: #08073F;
}
span.bold-grey {
  font-weight: 400;
  color: #5A5A5A;
}
span.grey {
  font-weight: 700;
  color: #5A5A5A;
}

span.default {
  color: #EF8354;
  position: relative;
  display: inline-block;
}
span.default:hover {
  display: none;
  span.hover {

  }
}
span.hover {
  display: none;
  position: absolute;
  color: #EF8354;
  z-index: 99;
}
span.hover:hover {
  display: inline;
}



.center {
  text-align: center;
}
p.pre-title {
  font-size: 0.75em;
  font-weight: 300;
  margin-top: 0;
}


/* ==============================
layout styling
================================= */
.container {
  width: 100%;
  padding: 0 30px;
}

[class*="col-"] {
  float: left;
  padding: 0 15px;
}

.sm {
  padding-left: 0;
  padding-right: 0;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}



/* ==============================
header styling
================================= */
header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 4px 4px 1px rgba(8,7,63,0.3);
  position: fixed;
  width: 100%;
  z-index: 999;
}

#home-page header {
  background-color: transparent;
  box-shadow: none;
}

#home-page header a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
}
#home-page header a:visited {
  color: #ffffff;
}
#home-page header a:hover,
#home-page header a:focus {
  color: #EF8354;
  text-decoration: none;
}
#home-page header a:active {
  color: #ffffff;
}


.desktop-menu {
  display: none;
}



/* ==============================
nav styling
================================= */
.logo {
  width: 65px;
  margin: 15px;
}

nav {
  font-size: 0.90em;
}

nav {
  display: inline-block;
  width: 100%;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
}



/* ==============================
main styling
================================= */
main {
  padding-top: 104px;
}

#home-page main {
  padding-top: 0;
}
#about-page main {
  padding: 134px 0 60px 0;
}
#project-page main {
  margin-bottom: 50px;
}


/* ==============================
id: intro styling
================================= */
#intro {
  background-image: url(../img/desktop/1_home-page/patagonia.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
  padding: 282px 0 30px 0;
}

p.junior {
  margin-bottom: 100px;
}

p.vertical {
  font-size: 0.50em;
  font-weight: 300;
  writing-mode: vertical-rl;
  margin-left: 100%;
}

.fa-stack {
  float: left;
  margin-top: 100%
  font-size: 18px;
  color: #ffffff;
}



/* ==============================
id: work styling
================================= */
.proj {
  margin: 40px 0;
}
.border {
  padding-bottom: 40px;
  border-bottom: 2px solid rgba(187,187,187,0.5);
}

#work {
  background-image: linear-gradient(rgba(2,2,22,1), rgba(4, 4, 33, 0.8), rgba(5, 4, 41, 0.6), rgba(5, 4, 38, 0.4), rgba(8, 7, 63, 0.2));
  padding: 50px 0 30px 0;
}



/* ==============================
footer styling
================================= */
footer {
  background-color: #08073F;
  background-image: linear-gradient(rgba(2,2,22,1), rgba(4, 4, 33, 0.8), rgba(5, 4, 41, 0.6), rgba(5, 4, 38, 0.4), rgba(8, 7, 63, 0.2));
  color: #BBBBBB;
  width: 100%;
  padding: 50px 0 50px 0;
}

#about-page footer h2 {
  color: #ffffff;
  margin-bottom: 50px;
}
#about-page footer {
  padding: 50px 0 0 0;
}

#project-page footer h2 {
  color: #ffffff;
  padding: 0;
  margin-bottom: 50px;
}
#project-page footer {
  padding: 50px 0 0 0;
}

footer .row {
  padding-bottom: 40px;
}
footer .button {
  display: inline-block;
  margin: 0 15px 15px 0;
}

.copyright {
  font-size: 0.50em;
  font-weight: 300;
  line-height: 1.7;
}



/* ==============================
about-me styling
================================= */
.col-sm-50 {
  width: 50%;
  display: inline-block;
}
.min-padding {
  padding-left: 20px;
}
.margin {
  margin: 10px 0 0 0;
}

.img-margin-top1 img {
  margin-top: 1em;
}

.top {
  padding-top: 30px;
}


/* ==============================
sneaker-help project styling
================================= */
.icon {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 20px;
}

.img-pad {
  margin-top: 20px;
}
.section-prototypes {
  padding-top: 50px;
}

ol {
  margin: 0;
  padding: 10px 10px 0 10px;
  padding-left: 30px;
  border-radius: 10px;
  box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.25);
}
ol > li {
  padding-bottom: 10px;
}
.box {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.25);
}

ul.sm-pad {
  display: inline-block;
  margin: 0 15px 15px 0;
}
.sm-box {
  font-size: 0.83em;
  line-height: 1;
  width: 50%;
  height: 93px;
  padding: 7px;
  border: 2px solid #08073F;
  border-radius: 6px;
  display: flex;
  margin: 0 15px 15px 0;
  align-items: center;
}

footer .button {
  display: inline-block;
  margin: 0 15px 15px 0;
}

/*
.vert {
  transform: translateY(50%);
}
.row-sm-box {
  display: flex;
  flex-direction: row;
}
*/

.wire {
  margin-top: 20px;
}

#section-end {
  margin-top: 30px;
}
#section-end .row-line {
  padding-top: 30px;
  border-top: 2px solid rgba(70,69,107,1);
}

#section-end .center {
  margin: 25px 0 25px 0;
}
#section-end p {
  margin-bottom: 25px;
}

.img-end {
  display: block;
  max-width: 205px;
  margin-left: auto;
  margin-right: auto;
}

#section03 .right {
  transform: translateY(50%);
}



/* ==============================
osica project styling
================================= */
#section-01 .subtitle {
  margin: 0;
  font-size: 0.66em;
  line-height: 1.1;
  padding-bottom: 10px;
}
#section-04 .subtitle {
  margin: 0;
  font-size: 0.66em;
  line-height: 1.1;
  padding-bottom: 10px;
}
 #section-05 .subtitle {
   margin: 0;
   font-size: 0.66em;
   line-height: 1.1;
   padding-bottom: 10px;
 }
 #section-03 .right {
   transform: translateY(25%);
 }

.img-corner {
  border-radius: 5px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.column-grid {
  flex: 50%;
  max-width: 100%;
  padding: 0;
}
.column-grid img {
  vertical-align: middle;
  width: 100%;
}


.left {
  padding-top: 10px;
}
.right {
  padding-top: 10px;
}



/* ==============================
carousel styling
================================= */
.container-carousel {
  position: relative;
  margin: auto;
  border: 2px solid rgba(70,69,107,1);
  border-radius: 10px;
}
.homepage, .stylists, .products, .stylists-bio {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #08073F;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.6);
}
.text {
  color: #08073F;
  font-size: 0.83em;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #08073F;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#section07 .col-md-6 {
  float: none;
}


/* ==============================
project numbers styling
================================= */
#project-page main .numbers {
  position: relative;
}

#project-page main .numbers img {
  position: absolute;
  height: 90px;
  width: auto;
  left: 0;
  bottom: 30px;
}

#project-page main .numbers h2 {
  position: relative;
  z-index: 1;
}





/* ==============================
media queries styling
================================= */

/* ==============================
medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  main {
    padding-top: 94px;
  }
  #about-page main {
    padding: 143px 0 60px 0;
  }

  header {
    text-align: unset;
    padding: 35px 0 5px;
  }

  nav {
    width: auto;
    margin-top: 17px;
  }

  body {
    font-size: 22px;
  }

  .logo {
    width: 90px;
    margin-bottom: 0;
  }

  .button {
    font-size: 19.8px;
    width: 140px;
    line-height: 1;
  }
  footer .button {
    line-height: 0;
  }
  .button.resume {
    font-size: 21px;
  }

  .col-md-6 {
    width: 50%;
  }

  .sm-pad {
    display: inline-block;
  }

  .img-comp {
    margin-top: 69px;
  }
  .img-end {
    max-width: 305px;
  }
  .column-end {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #project-page main .numbers img {
    height: 100px;
  }

  ol {
    padding-left: 35px;
  }
  .sm {
    padding-left: 10px;
    padding-right: 10px;
  }
  .left {
    padding-left: 0;
    padding-bottom: 10px;
  }
  .right {
    padding-right: 0;
    padding-bottom: 10px;
  }

  .img-no {
    display: unset;
  }

  #section07 .col-md-6 {
    float: left;
  }
}



/* ==============================
large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .container {
    max-width: 1200px;
  }

  main {
    padding-top: 109px;
  }
  #about-page main {
    padding: 220px 0 60px 0;
  }

  body {
    font-size: 28px;
  }

  header {
    padding: 30px 0 5px;
    display: flex;
    justify-content: space-between;
  }
  nav {
    margin-top: 0;
    display: flex;
    align-items: flex-end;
  }
  .logo {
    width: 138px;
  }
  nav ul a {
    padding: 0;
  }

  nav ul {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 8px;
  }

  nav a {
    width: 40%;
    text-align: center;
  }

  .desktop-menu {
    display: unset;
  }
  .mobile-menu {
    display: none;
  }

  .button {
    font-size: 22px;
    width: 183px;
    height: 50px;
    line-height: 1.3;
  }
  footer .button {
    line-height: 1.4;
  }
  .button.resume {
    font-size: 23px;
  }

  .col-lg-4 {
    width: 33.3%;
  }
  .col-lg-6 {
    width: 50%;
  }

  .img-end {
    max-width: 400px;
  }
  .column-end {
    max-width: 483px;
    margin-left: auto;
    margin-right: auto;
  }

  ol {
    padding-left: 40px;
  }

  #project-page main .numbers img {
    height: 110px;
  }

  .img-no2 {
    display: unset;
  }
}



/* ==============================
x-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

}
